.main-window{
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.inner-window{
    width: 400px;
    margin: auto;
}

#vk-auth{
    width: 50px !important;
    height: 50px !important;
    background-color: blue !important;
}